<body> 
  <div class="card">
  <h5 class="card-header">What Would You Like To Discuss?</h5>
  <div class="card-body">
    <a href="/questions/rand?id=1" class="btn btn-primary">Politics</a>
    
    <a href="/questions/rand?id=2" class="btn btn-primary text-orange bg-dark">Culture</a>
    
    <a href="/questions/rand?id=3" class="btn btn-primary">Music</a>
    
    <a href="/questions/rand?id=4" class="btn btn-primary">Current Events</a>

    <a href="/questions/rand" class="btn btn-primary">Random</a>
    
  </div>
</div>
  {{!-- <div>
    <h2> What would you like to discuss?</h2>
    <a href='/questions/rand?id=1' id="join-btn">Politics</a>
    <br>
    <a href='/questions/rand?id=2' id="join-btn">Culture</a>
    <br>
    <a href='/questions/rand?id=3' id="join-btn">Music</a>
    <br>
    <a href= '/questions/rand?id=4'id="join-btn">Current Events</a>
    <br> 
  </div> --}}
</body>

<style>
  body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url('https://www.regionalneurological.com/wp-content/uploads/2020/03/Regional-Neurological_Brain-Science.jpeg'); 
    height: 100vh; 
  }
   #question {
    line-height: 50px;
    margin-top: 400;
    font-size: 50px;
    font-weight: bold;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  #countdown {
    text-align:center;
    line-height: 25px;
    font-size: 25px;
    font-weight: bold;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
    button {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 18px;
    padding: 20px 40px;
    box-shadow: 0 0 50px 15px #48abe0;
    color: black; 
    }

    .btn btn-primary {
      color:#CF1512;
      font-size: larger;
    }
</style>