<div>Please Discuss...Keep it civil.</div>
{{> question this }}
<button id="join-btn">Join the Debate</button>

<div id="stream-wrapper">
  <div id="video-streams"></div>

  <div id="stream-controls">
    <button id="leave-btn">Leave Stream</button>
    <button id="mic-btn">Mic on</button>
    <button id="camera-btn">Camera on</button>
  </div>
</div>  
  
