<h2>Sign Up</h2>
<form id='signup-form' class='card-body'>
  <div>
    <label for='username-input-signup'>Username</label>
    <input type='text' id='username-input-signup' />
  </div>
  <div>
    <label for='password-input-signup'>Password</label>
    <input type='password' id='password-input-signup' />
  </div>
  <button type='submit'>Signup!</button>
  <a href='/login'>Login instead</a>
</form>

<script src='/js/signup.js'></script>