@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 80px 10px;
}

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background: #2c3e50;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputField {
  min-width: 200px;
  max-width: 300px;
}

.webcamButton {
  border-radius: 20px;
}

.callButton {
  border-radius: 20px;
}

.answerButton {
  border-radius: 20px;
}
 
element.style {
}
a.btn.btn-primary {
    color: orangered;
    font-size: 25px;
    box-shadow: 0 0 50px 15px #48abe0;
    background-color: aquamarine;
    border-radius: 5px;
    font-size: -webkit-xx-large;
    padding: 10px;
}
h5.card-header {
  line-height: 50px;
  
  font-size: -webkit-xxx-large;
  font-weight: bold;
  background: #121FCF;
  background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card {
  display: contents;
}
.intro {
  font-size: xx-large;
  font-weight: bold;
  color:black
}
